{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>white cat</h1>
    <img width="500" height="500" src="https://media.istockphoto.com/id/140469307/photo/fluffy-white-cat-lying-down-looking-into-camera.jpg?s=612x612&w=0&k=20&c=RsNsdCi24Ro5f60Xwr70wLEK6cx_hj-WfhDyN1R4Pok=" alt="">
    <link rel="stylesheet" href="{% static "style2.css" %}">
</body>
</html>