{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>white cat</h1>
    <img width="500" height="500" src="https://www.google.com/search?q=white+cat&sca_esv=187175ea13837ba9&udm=2&biw=1396&bih=632&sxsrf=ADLYWIL1d6wph1RkRcRVE8VGXenqZMOgSA%3A1734604371895&ei=U_ZjZ4isNrPWwPAPsPK74A4&ved=0ahUKEwjIoabr0LOKAxUzKxAIHTD5DuwQ4dUDCBA&uact=5&oq=white+cat&gs_lp=EgNpbWciCXdoaXRlIGNhdDIKEAAYgAQYQxiKBTIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHkj8JlAmWLQicAR4AJABAJgBpQGgAesPqgEEMC4xNbgBA8gBAPgBAZgCDaACywnCAgUQABiABMICCBAAGAcYChgewgIHEAAYgAQYCpgDAIgGAZIHAzQuOaAH20g&sclient=img#vhid=Et2ibM_PDaJz3M&vssid=mosaic" alt="">
    <link rel="stylesheet" href="{% static "style2.css" %}">
</body>
</html>