{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Interest</h1>
    <h2>Men juda kop narsalarga qiziqaman masalan: IT, ingliz tili. Sportdan: valeybol, basketbol va hk..</h2>
    <link rel="stylesheet" href="{% static "interest.css" %}">
    <a href="http://127.0.0.1:8000/homework/about/"><button>About</button></a>
    <a href="http://127.0.0.1:8000/homework/contact/"><button>Contact</button></a>
    <a href="http://127.0.0.1:8000/homework/"><button>Main</button></a>
</body>
</html>